@model SunBeam.Domain.Models.Purchases
<!-- Modal -->
@using (Html.BeginForm("Create", "Purchase", FormMethod.Post, new { @Id = "frmPurchase", @Name = "frmPurchase" }))
{
<div id="content" >
    <p class="alert alert-info">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" onclick="pageSubmit('frmPurchase');">
            Submit
        </button>
    </p>
     <section id = "widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID(each widget will need unique ID)-->
                <div class="jarviswidget " id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                     
                            <h2>Edit Purchease </h2>
                            <h2>Create Purchease </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body ">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="InvoiecNo">InvoiecNo</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.InvoiecNo, new { @Class = "form-control required", @placeholder = "InvoiecNo" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.Date, new { @Class = "form-control required datepicker", @placeholder = "Date" })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-3">
                                    <label for="Code">Supplier</label>
                                    <div class="form-group">
                                        @Html.SimpleDropDownFor(m => m.SupplierId, "/Config/Supplier/DropDownSuppliers", new { @Class = "form-control Dropdown", @placeholder = "Remarks", @rows = "5" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="Employee">Employee</label>
                                    <div class="form-group">
                                        @Html.SimpleDropDownFor(m => m.EmployeeId, "/Config/Employee/DropDownEmployee", new { @Class = "form-control Dropdown", @placeholder = "Remarks", @rows = "5" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="Remarks"> Remarks</label>
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Remarks, new { @Class = "form-control", @placeholder = "Remarks" })
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget " id="wid-id-2" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Purchease Product Detail </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Select Product</label>
                                        @Html.SimpleDropDown("ProductName", "/Config/Product/DropDownProducts", new { @Class = "Dropdown select2" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Unite Price</label>
                                            @Html.TextBox("UnitePrice","", new { @Class = "form-control unitprice", @Type = "number", @placeholder = "Unite Price" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="Code">Quantity</label>
                                    <div class="form-group">
                                        @Html.TextBox("Quantity","", new { @Class = "form-control quan", @Type="number", @placeholder = "Quantity" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="Employee">Employee</label>
                                    <div class="form-group">
                                        <a class="btn btn-primary" id="addrow">Add Product</a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Product Detail</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PurcheaseDetails != null) {
    foreach (var data in Model.PurcheaseDetails) {
        @Html.Partial("PurcheaseDetail",data);
    }
}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>SubTotal</td>
                                        <td style="border-bottom:1px black solid">@Html.TextBox("Subtotal", "", new { @Class = "form-control subtotal",@readonly="readonly" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Discount</td>
                                        <td>@Html.TextBoxFor(m => m.Discount, new { @Class = "form-control disc" })</td>
                                    </tr>
                                    <tr>
                                        <td>Gift Detail</td>
                                        <td>@Html.TextBoxFor(m => m.CouponName, new { @Class = "form-control ", @placeholder = "Coupon Name" })</td>
                                        <td>@Html.TextBoxFor(m => m.CouponAmunt, new { @Class = "form-control camount", @Type = "number", @placeholder = "Coupon Amount" })</td>
                                        <td>Total Amount</td>
                                        <td style="border-bottom:1px black double">@Html.TextBox("GTotal", "", new { @Class = "form-control gtotal", @Type = "number", @placeholder = "Grand Total", @readonly = "readonly" })</td>
                                    </tr>
                                </tfoot>
                                </table>
</div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <span class="clearfix"></span>
    <p class="alert alert-info">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
        </button>
            <button type="button" class="btn btn-primary" onclick="pageSubmit('frmPurchase');">
                Submit
            </button>
    </p>
</div>
<!-- END MAIN CONTENT -->
   
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            $('#addrow').click(function () {
        var proid = $('.select2  :selected').val();
        var unitprice = $('.unitprice').val();
        var quan = $('.quan').val();
        debugger;
        if (proid === "" || typeof proid === 'undefined ') {
            ShowAlert("Fail", "Operation Fail");
            return;
        }
        if (unitprice === "" || typeof unitprice === 'undefined ') {
            ShowAlert("Fail", "Operation Fail");
            return;
        }
        if (quan === "" || typeof quan === 'undefined ') {
            ShowAlert("Fail", "Operation Fail");
            return;
        }
        var proidd;
        var aa=0;
                $("tr.dpro").each(function () {
                    proidd = $(this).find('.pid').val();
                    debugger;
            if (proidd === proid) {
                aa +=1
            }
                });
                if (aa > 0) {
                    ShowAlert("Fail", "Operation Fail");
                    return;
                }
        var url = '@Url.Action("/PurcheaseDetail")?proid=' + proid + '&unitprice=' + unitprice + '&quantity=' + quan;
                $.ajax({
            url: url,
                    type: 'GET',
                    //beforeSend: function () { $(".loading").show(); },
                    //complete: function () { $(".loading").fadeOut(200).hide("slow") },
                    success: function (response) {
                        $('tbody').append(response);
                calculation();
            },
                    error: function () {
                ShowAlert("Fail", "Operation Fail");
            }
        });

    })
        });
        function Removerow(sender) {
            $(sender).closest('tr').remove();
    calculation();
}
function Edit(sender) {
    debugger;
            $('.unitprice').val($(sender).closest('tr').find('.dunitp').val());
            $('.quan').val($(sender).closest('tr').find('.dquans').val());
            $('.select2').val($(sender).closest('tr').find('.pid').val()).trigger('change');;
    Removerow(sender);
}
        $(".disc").keyup(function () {
    calculation();
});
        $(".camount").keyup(function () {
    calculation();
})
        calculation();
function calculation() {
    var subtotal = 0;
    var quantity;
    var unitprice;
    var amount;
    var gtotal;
    var disc =getnum($(".disc").val());
    var camount = getnum($(".camount").val());
            $("tr.dpro").each(function () {
        quantity = getnum($(this).find('.dunitp').val());
        unitprice = getnum($(this).find('.dquans').val());
        amount = quantity * unitprice;
        subtotal += amount;
    });
            $('.subtotal').val(subtotal);
    gtotal = subtotal - disc + camount;
            $('.gtotal').val(gtotal);

}
function getnum(val) {
    if (!$.isNumeric(val) || typeof e === 'undefined ') {
        return 0;
    }
            else {
        return parseFloat(val);
    }
}
    </script>
